nav{
top: 0;
left: 0;
width: 100%;
color: #fff;
height: 80px;
z-index: 1000;
margin-top: 0;
position: fixed;
padding-top: 0px;
background: none;
transition: all 0.6 cubic-bezier(0.7, 0.01, 0.3, 1); 
}
.logo{ /* esto le da estilo a la clase logo, div class="logo" de HTML*/
		background-size: 90px;
	} 
.menu{ /* primera rayita del menu hamburquesa*/
	position: absolute;
	z-index: 2000;
	top: 10px;
	right: 0;
	height: 4px;
	width: 24px;
	text-align: right;
	margin: 2rem 2rem;
	background: #ec008c;
	transition: all 0.3s;
}
.logo{
	left: 0;
	top: -4px;
	width: 70px;
	height: 74px;
	padding: 0.4% 2%;
	text-align: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(../assets/img/huge1.png)
}

.menu:before, .menu:after{ /* primera rayita del menu hamburquesa*/
	content: '';
	display: block;
	width: 24px;
	height: 4px;
	background: #ec008c;
	position: absolute;
	z-index: -1;
	}
.menu:before{
	top: -8px;
}
.menu:after{
	top: 8px;
}